.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: Montserrat,rubik scribble;
    color: white;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: transparent;
    color: white;
    border-radius: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color:#001415af;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: transparent;
    color:orangered;
  }


  .activemobile {
    background-color: #001415;
    color: white;
  }

  img.responsive {
    max-width: 100%;
    height: auto;
  }

  img.whiteversion {
    display: none;
  }





body{
    background-color: #001415;
}

.skip{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-color: transparent;
    width: 50px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    left: -10000px;
    top: auto;
    font-family: PT Sans;
    height: 3px;
    overflow: hidden;
    font-size: 14px;
}

.skip:focus {
    list-style-type: none;
    position: static;
    width: auto;
    height: auto;
}

#navbar{
    display: none;
}

h1{
    font-family: rubik scribble;
    color: white;
    font-size: 50px;
    text-align: center;

}
h2{
    font-family: rubik scribble;
    color: white;
    text-align: center;
}

p {
    font-family: Montserrat;
    color: white;
    font-size: 14px;
    text-align: center;
    /*margin-top: 100px;*/
    margin-right: 30px;
    margin-left: 30px;
}

h3{
    font-family: rubik scribble;
    color: white;
    font-size: 32px;
    text-align: center;
  }



* {
    box-sizing: border-box;
  }

  body {
    padding: 20px;
  }

  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }

  .row {
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 8px;
  }

  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Content */
  .content {
    background-color: orangered;
    padding: 10px;
}








@media only screen and (min-width: 1200px) {

.mobile-container {
    display: none;
}

body{
    background-color:#001415
}

.skip{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 30px;
    width: 50px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    left: -10000px;
    top: auto;
    font-family: Montserrat;
    height: 3px;
    overflow: hidden;
    font-size: 14px;
}

.skip:focus {
    list-style-type: none;
    position: static;
    width: auto;
    height: auto;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    margin: 40px 20px 20px 20px;
    text-align:center;
    background: #001415;
    border-radius: 60px;
    margin-left: 250px;
    margin-right: 250px;




}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.active{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5px;
    border: solid 5px orangered;
    background-color: rgba(220, 220, 220, 0.084);
    border-radius: 60px;


}

.link-1:hover, .link-1:active{
    color: orangered;


}


.link-1{
    width: 78px;
    display:inline-block;
    padding: 10px;
    margin: 10px;
}

a.link-1{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: PT Sans;

}

h1{
    font-family: rubik scribble;
    font-size: 80px;
    text-align: center;
    color: black;
}
h2{
    font-family:rubik scribble ;
    color: black;
    font-size: 50px;
}
p{
    font-family: Montserrat;
    color: black;
}
.responsive{
    display: none;
}

img.whiteversion {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
  }



* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    padding: 20px;

  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  
  .row {
    margin: 8px -16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width:25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    padding: 10px;
  }
  
  h3{
    font-family: rubik scribble;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
  }
  p{
    font-family: Montserrat;
    color:#001415;
    font-size: 14px;
    text-align: center;}

}