.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }


body {
    font-family: Montserrat,rubik scribble;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: transparent;
    color: white;
    border-radius: 10px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#001415af;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: transparent;
    color:orangered;
  }
  

  .activemobile {
    background-color: #001415;
    color: white;
  }

  img.responsive {
    max-width: 100%;
    height: auto;
  }





body{
    background-color: #001415;
}

.skip{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border-color: transparent;
    width: 50px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    left: -10000px;
    top: auto;
    font-family: PT Sans;
    height: 3px;
    overflow: hidden;
    font-size: 14px;
}

.skip:focus {
    list-style-type: none;
    position: static;
    width: auto;
    height: auto;
}

#navbar{
    display: none;
}

h1{
    font-family: rubik scribble;
    color: white;
    font-size: 50px;
    text-align: center;
}
h2{
    font-family: rubik scribble;
    color: white;
    text-align: center;
}











@media only screen and (min-width: 1200px) {

.mobile-container {
    display: none;
}

body{
    background-color:rgb(241, 241, 241);
}

.skip{
    list-style-type: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 30px;
    width: 50px;
    padding: 10px;
    margin: 20px;
    position: absolute;
    left: -10000px;
    top: auto;
    font-family: PT Sans;
    height: 3px;
    overflow: hidden;
    font-size: 14px;
}

.skip:focus {
    list-style-type: none;
    position: static;
    width: auto;
    height: auto;
}

#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
    margin: 40px 20px 20px 20px;
    text-align:center;
    background: rgba(199, 199, 199, 0.453);
    border-radius: 60px;
    margin-left: 250px;
    margin-right: 250px;




}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.active{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(244, 253, 255);
    border-radius: 60px;


}

.link-1:hover, .link-1:active{
    color:aqua;

}


.link-1{
    width: 78px;
    display:inline-block;
    padding: 10px;
    margin: 10px;
}

a.link-1{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: PT Sans;

}

h1{
    font-family: varela round;
    font-size: 80px;
    text-align: center;
}
h2{
    font-family: varela round;
}
}
